* {
  box-sizing: border-box;
}

header,
footer {
  border: solid 3px black;
  height: 100px;
  clear: both;
}

header + section section {
  border: solid 3px black;
  width: 33.3333%;
  height: 200px;
  float: left;
}

section + section section {
  border: solid 3px black;
  width: 50%;
  height: 280px;
  float: left;
}
