h1 {
  color: purple;
}

h2 {
  color: yellow;
}

section > h2 {
  color: blue;
}

article > h2 {
  color: red !important;
  font-weight: bold;
  font-size: 30px;
}

/* article h2 {
  color: red;
} */

section article h2 {
  color: orange;
}
