/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
section, header, footer {
  border: 1px solid red;
  width: 100%;
  height: 450px;
}

nav ul li {
  float: left;
  border: 1px solid black;
  height: 40px;
  width: 25%;
  list-style: none;
}

.second-section, main {
  float: left;
  text-align: center;
  padding: 5% 35%;
}

section + section > section {
  float: left;
  height: 450px;
  width: 50%;
  text-align: center;
  padding: 140px;
}

.fourth-section {
  float: left;
  width: 100%;
  height: 450px;
  text-align: center;
  padding-top: 150px;
}

.fourth-section > p {
  margin: 0 35%;
  margin-bottom: 2%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/