* {
  box-sizing: border-box;
}

header,
footer {
  border: 2px solid black;
  height: 100px;
  clear: both;
}

section {
  border: 2px solid black;
  height: 300px;
  width: 33.3333%;
  float: left;
}

@media screen and (max-width: 550px) {
  header,
  footer,
  section {
    background: yellow;
  }
}

@media (max-width: 550px) {
  body {
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 600px) {
  body {
    background: lightgreen;
  }
}